<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <a class="navbar-brand" routerLink="/">Home</a>
    <div class="navbar-expand">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/todo">To Do list</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/roulette">Roulette game</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/gallery">Gallery project</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/contact">Contact me</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
