  <div class="row pt-4">
    <div class="col-4">
      <button type="button" class="btn btn-primary buttons" (click)="onStart()">Start</button>
      <button type="button" class="btn btn-danger buttons" (click)="onStop()">Stop</button>
      <button type="button" class="btn btn-secondary buttons" (click)="onReset()">Reset</button>
    </div>
    <div class="col-4">
      <form>
        <div class="form-group">
          <label for="credit">Enter your credit</label>
          <input
            type="text"
            name="credit"
            id="credit"
            class="form-control"
            (change)="getUserCredit($event)"
            [value]="creditInput"
          />
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            id="inlineRadio1"
            value="red"
            checked
            (click)="onColorCredit($event)"
            #redInput>
          <label class="form-check-label" for="inlineRadio1">Red</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            id="inlineRadio2"
            value="black"
            (click)="onColorCredit($event)">
          <label class="form-check-label" for="inlineRadio2">Black</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            id="inlineRadio3"
            value="zero"
            (click)="onColorCredit($event)">
          <label class="form-check-label" for="inlineRadio3">Zero</label>
        </div>
        <p style="display: inline-block">Balance: <strong>{{ balance }}</strong></p>
      </form>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div
      *ngFor="let number of numbersArray"
      class="numberDiv col-1"
      appColorChange="{{ number }}"
    >{{ number }}
    </div>
  </div>


