.containerDiv {
  max-width: 1024px;
  padding: 0 15px;
  margin: 0 auto;
}
.header {
  background-color: #02918c;
  padding: 15px;
  text-align: center;
}
.logo {
  display: inline-block;
  margin-bottom: 20px;
  padding-top: 10px;
}
.main-nav a {
  font-size: 14px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  margin-right: 40px;
  text-transform: uppercase;
}
.main-block {
  background-image: url(../../assets/main-pic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 18px;
  color: white;
  text-align: center;
  line-height: 33px;
  height: 500px;
  padding: 150px 0;
}
.h1 {
  font-size:  48px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 15px;
  margin-top: 0px;
}
.link-btn {
  background-color: #cfc91d;
  display: inline-block;
  padding: 5px 40px;
  font-size: 14px;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 35px;
  letter-spacing: 4px;
  border: transparent;
}
.blc-about-me {
  color: #4e5052;
  font-size: 16px;
  line-height: 41px;
  text-align: center;
  margin-top: 100px;
}
.h2-am {
  font-size: 46px;
  font-weight: bold;
  color: #02918c;
  text-transform: uppercase;
}
.important {
  font-weight: bold;
}
.boxes {
  font-size: 0;
}
.h4-am {
  font-size: 18px;
  color: #4e5052;
  font-weight: bold;
}
.story {
  background-image: url(../../assets/ic-lamp.png);
}
.recom {
  background-image: url(../../assets/ic-pencil.png);
}
.ivent {
  background-image: url(../../assets/ic-set.png);
}
.clients {
  background-image: url(../../assets/ic-laptop.png);
}
.box {
  display: inline-block;
  width: 25%;
  vertical-align: top;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 20px;
  padding: 70px 20px;
  background-repeat: no-repeat;
  margin-top: 50px;
  background-position: center 30px;
}
