<div class="main-block">
  <div class="containerDiv">
    <h1 class="h1">Incididunt Bore</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore quas hic omnis exercitationem molestias
      repellat libero minima vel. Nisi a dignissimos ut neque porro nostrum maxime sit mollitia optio adipisci totam,
      possimus omnis nesciunt culpa ipsam architecto minus voluptatum dolore esse nobis praesentium. In, sit!
    </p>
    <button class="link-btn">Know More</button>
  </div>
</div>
<div class="blc-about-me">
  <div class="containerDiv¬">
    <h2 class="h2-am">About me</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo suscipit, culpa nihil enim perferendis excepturi ad
      obcaecati expedita commodi ullam <span
        class="important">sint doloremque tempora modi aut fuga reiciendis quasi</span> pariatur cum fugiat fugit
      reprehenderit porro molestiae ea labore. Quae nam nesciunt reprehenderit autem consequuntur.</p>
    <div class="boxes">
      <div class="box story">
        <h4 class="h4-am">Story</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit dolore temporibus deserunt? Dolores fuga
          placeat ipsa quibusdam obcaecati sapiente earum.</p>
      </div>
      <div class="box recom">
        <h4 class="h4-am">Recommendations</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis nam odit quasi quae dicta, itaque animi
          optio expedita odio minima quisquam cumque, ex ab!</p>
      </div>
      <div class="box ivent">
        <h4 class="h4-am">The Main Ivent</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, eius tempora est adipisci distinctio a sit
          id, quaerat fugiat voluptatibus quis aliquam!</p>
      </div>
      <div class="box clients">
        <h4 class="h4-am">Clients</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus soluta, ea accusamus quam vel consequuntur
          et quaerat! Autem incidunt facilis quaerat corporis impedit, repellendus officia ipsam neque magni recusandae
          praesentium, consequuntur vitae. Quisquam itaque illum dolorem deserunt maxime?</p>
      </div>
    </div>
  </div>
</div>

